@model DataAccessLayer.Models.Order

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Order</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Customer.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Customer.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Customer.Address)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Customer.Address)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CustomerId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CustomerId)
        </dd>
        <dt class="col-sm-2">
            OrderId
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class="col-sm-2">
            DeliveryOption
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DeliveryOption)
        </dd>
        <dt class="col-sm-2">
            Delivered
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Delivered)
        </dd>

    </dl>
    <div class="table-responsive">
        <table class="table table-striped table-hover align-middle">
            <thead class="bg-secondary text-white">
                <tr>
                    <th>ProductId</th>
                    <th>ProductName</th>
                    <th>Quantity</th>
                    <th>ProductPrice</th>
                    <th>ProductImage</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.OrderParts)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.PartId)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Part.Name)
                        </td>
                        <td>
                            @item.Quantity
                        </td>
                        <td>
                            @((item.Part.Price * item.Quantity).ToString("C", new System.Globalization.CultureInfo("nl-NL")).Replace(",00", ",-"))
                        </td>
                        <td>
                            <img src="@item.Part.ImageUrl" alt="Image not available" class="img-thumbnail" style="max-width: 100px;" />
                        </td>
                    </tr>
                }
                <tr>
                    <td>
                        Total:
                    </td>
                    <td></td>
                    <td></td>
                    <td>
                        @((Model.OrderParts.Sum(p => p.Quantity * p.Part.Price)).ToString("C", new System.Globalization.CultureInfo("nl-NL")).Replace(",00", ",-"))
                    </td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div>
    <a asp-action="Index" class="btn btn-secondary">Return</a>
</div>
