@model IEnumerable<DataAccessLayer.Models.Order>

@{
    ViewData["Title"] = "Orders";
}

<h1>@ViewData["Title"]</h1>

<p>
    <a class="nav-link" style="width: 150px" asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.OrderDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customer)
            </th>
            <th>
				Products
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.OrderDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Customer.Address)
            </td>
				<td>
					@foreach (var x in item.OrderParts)
					{
						<span>@x.Order</span>

						<br />
					}
            <td>
                    <a class="nav-link" style="width: 75px" asp-action="Details" asp-route-id="@item.Id">Details</a>
            </td>
        </tr>
}
    </tbody>
</table>

<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />